In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('DOHMH_New_York_City_Restaurant_Inspection_Results.csv')
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,50156172,JIMMY'S,Bronx,1161,CASTLE HILL AVENUE,10462.0,6469152219,NaN,01/01/1900,NaN,...,NaN,40.831312,-73.850906,209.0,18.0,9200.0,2026489.0,2.038110e+09,BX59,NaN
1,50141153,MERAKI GREEK BISTRO,Brooklyn,252,GRAND STREET,11211.0,7185763536,NaN,01/01/1900,NaN,...,NaN,40.713489,-73.958842,301.0,34.0,52300.0,3062812.0,3.023940e+09,BK73,NaN
2,50154367,NaN,Manhattan,161,WEST 23 STREET,10011.0,5168526952,NaN,01/01/1900,NaN,...,NaN,40.743598,-73.994442,104.0,3.0,9100.0,1014946.0,1.007990e+09,MN13,NaN
3,50150136,GREEK XPRESS,0,NaN,NaN,NaN,3477015000,NaN,01/01/1900,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50151144,ELSEWHERE,Brooklyn,599,JOHNSON AVENUE,11237.0,7037322765,NaN,01/01/1900,NaN,...,NaN,40.709219,-73.923219,301.0,34.0,44900.0,3070596.0,3.029890e+09,BK90,NaN

In [2]:
print(df.shape)

(242174, 27)

In [3]:
# Remove duplicates
df = df.drop_duplicates()
print(df.head(10))

      CAMIS                       DBA       BORO BUILDING              STREET  \
0  50156172                   JIMMY'S      Bronx     1161  CASTLE HILL AVENUE
1  50141153       MERAKI GREEK BISTRO   Brooklyn      252        GRAND STREET
2  50154367                       NaN  Manhattan      161    WEST   23 STREET
3  50150136              GREEK XPRESS          0      NaN                 NaN
4  50151144                 ELSEWHERE   Brooklyn      599      JOHNSON AVENUE
5  50150939                       NaN   Brooklyn     1106            8 AVENUE
6  50109363       CHEF KATSU BROOKLYN   Brooklyn      143       GREENE AVENUE
7  50144229  STC CARIBBEAN RESTAURANT   Brooklyn      116     KINGSTON AVENUE
8  50148923                WE JUICING     Queens     9238   GUY R BREWER BLVD
9  50149087           KIBO SUSHI - NY  Manhattan      750            8 AVENUE

   ZIPCODE       PHONE CUISINE DESCRIPTION INSPECTION DATE ACTION  ...  \
0  10462.0  6469152219                 NaN      01/01/1900    NaN  ...
1  11211.0  7185763536                 NaN      01/01/1900    NaN  ...
2  10011.0  5168526952                 NaN      01/01/1900    NaN  ...
3      NaN  3477015000                 NaN      01/01/1900    NaN  ...
4  11237.0  7037322765                 NaN      01/01/1900    NaN  ...
5  11215.0  3474587806                 NaN      01/01/1900    NaN  ...
6  11238.0  9178337789                 NaN      01/01/1900    NaN  ...
7  11213.0  5168197766                 NaN      01/01/1900    NaN  ...
8  11433.0  9177709055                 NaN      01/01/1900    NaN  ...
9  10036.0  6472781943                 NaN      01/01/1900    NaN  ...

  INSPECTION TYPE   Latitude  Longitude  Community Board Council District  \
0             NaN  40.831312 -73.850906            209.0             18.0
1             NaN  40.713489 -73.958842            301.0             34.0
2             NaN  40.743598 -73.994442            104.0              3.0
3             NaN        NaN        NaN              NaN              NaN
4             NaN  40.709219 -73.923219            301.0             34.0
5             NaN  40.664432 -73.980326            306.0             39.0
6             NaN  40.686653 -73.966308            302.0             35.0
7             NaN  40.675801 -73.941604            308.0             36.0
8             NaN  40.703813 -73.796468            412.0             27.0
9             NaN  40.759871 -73.987850            105.0              3.0

  Census Tract        BIN           BBL   NTA  Location Point1
0       9200.0  2026489.0  2.038110e+09  BX59              NaN
1      52300.0  3062812.0  3.023940e+09  BK73              NaN
2       9100.0  1014946.0  1.007990e+09  MN13              NaN
3          NaN        NaN           NaN   NaN              NaN
4      44900.0  3070596.0  3.029890e+09  BK90              NaN
5      15100.0  3427281.0  3.010960e+09  BK37              NaN
6      19700.0  3055504.0  3.019450e+09  BK69              NaN
7      31300.0  3030484.0  3.012150e+09  BK61              NaN
8      44601.0  4438733.0  4.101020e+09  QN61              NaN
9      12500.0  1024736.0  1.010188e+09  MN17              NaN

[10 rows x 27 columns]

In [4]:
print(df.shape)

(242168, 27)

In [5]:
# Change column names to lowercase for consistency
df.columns=map(str.lower, df.columns)
print(df.columns)

Index(['camis', 'dba', 'boro', 'building', 'street', 'zipcode', 'phone',
       'cuisine description', 'inspection date', 'action', 'violation code',
       'violation description', 'critical flag', 'score', 'grade',
       'grade date', 'record date', 'inspection type', 'latitude', 'longitude',
       'community board', 'council district', 'census tract', 'bin', 'bbl',
       'nta', 'location point1'],
      dtype='object')

In [6]:
# Change column names to more understandable names
df=df.rename(columns={'dba' : 'name', 'cuisine description' : 'cuisine'})
print(df.columns)

Index(['camis', 'name', 'boro', 'building', 'street', 'zipcode', 'phone',
       'cuisine', 'inspection date', 'action', 'violation code',
       'violation description', 'critical flag', 'score', 'grade',
       'grade date', 'record date', 'inspection type', 'latitude', 'longitude',
       'community board', 'council district', 'census tract', 'bin', 'bbl',
       'nta', 'location point1'],
      dtype='object')

In [7]:
df.dtypes

camis                      int64
name                      object
boro                      object
building                  object
street                    object
zipcode                  float64
phone                     object
cuisine                   object
inspection date           object
action                    object
violation code            object
violation description     object
critical flag             object
score                    float64
grade                     object
grade date                object
record date               object
inspection type           object
latitude                 float64
longitude                float64
community board          float64
council district         float64
census tract             float64
bin                      float64
bbl                      float64
nta                       object
location point1          float64
dtype: object

In [8]:
df.nunique()

camis                    29120
name                     22484
boro                         6
building                  7588
street                    2402
zipcode                    228
phone                    26177
cuisine                     89
inspection date           1741
action                       5
violation code             143
violation description      221
critical flag                3
score                      134
grade                        6
grade date                1515
record date                  1
inspection type             31
latitude                 23568
longitude                23568
community board             69
council district            51
census tract              1178
bin                      20377
bbl                      20074
nta                        193
location point1              0
dtype: int64

In [9]:
df.isna().sum()

camis                         0
name                        847
boro                          0
building                    410
street                       14
zipcode                    2821
phone                         3
cuisine                    2795
inspection date               0
action                     2795
violation code             4123
violation description      4123
critical flag                 0
score                     11956
grade                    125705
grade date               134472
record date                   0
inspection type            2795
latitude                    337
longitude                   337
community board            3475
council district           3479
census tract               3479
bin                        4681
bbl                         668
nta                        3475
location point1          242168
dtype: int64

In [10]:
df['latitude']=df['latitude'].where(df['latitude'] >= 40, np.nan)
df['longitude']=df['longitude'].where(df['longitude'] <= -70, np.nan)

df.isna().sum()

camis                         0
name                        847
boro                          0
building                    410
street                       14
zipcode                    2821
phone                         3
cuisine                    2795
inspection date               0
action                     2795
violation code             4123
violation description      4123
critical flag                 0
score                     11956
grade                    125705
grade date               134472
record date                   0
inspection type            2795
latitude                   3144
longitude                  3144
community board            3475
council district           3479
census tract               3479
bin                        4681
bbl                         668
nta                        3475
location point1          242168
dtype: int64